@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
	

}

h1 {
color: rgb(244, 66, 185);
font-size: 90px;
font-family: Abril Fatface;
text-align: center;
padding: 40px


}

h2 {
color: rgb(90, 99, 221);
font-size: 50px;
font-family: Comfortaa;
font-weight: bold;
text-align: center;
padding: 60px

}

h3 {
color: rgb(90, 99, 221);
font-size: 50px;
font-family: Abril Fatface;
text-align: center;
padding: 60px

}
.valj {
font-family: Comfortaa;
font-size: 60px;
padding: 10px

}

.quizlista {
	font-family: Crimson Text;
	font-size: 50px;
	padding: 20px;
	col: rgb(19, 216, 206);
}

.qdes {
	font-family: Roboto;
	font-size: 30px;
	text-align: center;
	padding: 30px;
}

.bildtext {
	font-family: Roboto;
	font-size: 10px;
	text-align: center;
	padding: 0px;
}


img {
    display: block;
    margin: auto;
    padding: 20px;
}

a {
	font-family: Crimson Text;
	font-size: 50px;
	padding: 20px;
	color: rgb(19, 216, 206);
	text-decoration: none;
}

a:hover {
    color: rgb(18, 216, 156);
    text-decoration: none;
}

p {
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
}

form {
	font-family: Roboto;
	font-size: 20px;
	text-align: center;
	padding: 30px;
}

footer {
  position: absolute;
   	right: 0;
  	bottom: 0;
  	left: 0;
  	text-align: center;
  	font-size: 12px;
	font-family: Comfortaa;
  }

  button {
  background-color: rgb(181, 247, 163);
  color: rgb(255, 255, 255);
  font-family: Abril Fatface;
  border: 0;
  position: center;
  width: 280px;
  height: 280px;
  padding: 40px 63px;
  font-size: 40px;
  line-height: 5.32;
  border-radius: 140px;
}